{{getv "/config/supsite/dev/sys/common"}}
{{getv "/config/supsite/dev/sys/mongo"}}
{{getv "/config/supsite/dev/sys/statisticsMongo"}}
{{getv "/config/supsite/dev/sys/memcommon"}}
{{getv "/config/supsite/dev/sys/shenzhenredis"}}
{{getv "/config/supsite/dev/sys/productEs"}}
{{getv "/config/supsite/dev/sys/newsEs"}}
{{getv "/config/supsite/dev/sys/articlesEs"}}
{{getv "/config/supsite/dev/sys/solutionsEs"}}
{{getv "/config/supsite/dev/sys/caseEs"}}
{{getv "/config/supsite/dev/sys/cmq"}}
{{getv "/config/supsite/dev/sys/wechatComponent"}}
{{getv "/config/supsite/dev/sys/upyun"}}
{{getv "/config/supsite/dev/sys/cnlservice"}}
{{getv "/config/supsite/dev/sys/createPage"}}
{{getv "/config/supsite/dev/sys/finance"}}
{{getv "/config/supsite/dev/sys/cnlPrice"}}
{{getv "/config/supsite/dev/sys/retailPrice"}}
{{getv "/config/supsite/dev/sys/workfnc"}}
{{getv "/config/supsite/dev/sys/channelfnc"}}
{{getv "/config/supsite/dev/sys/express"}}
